.button{
	-fx-border-color: #107801;
	-fx-text-fill: #107801;
	
	-fx-background-color: #242729;
}
.button:hover{
	-fx-background-color: #107801;
	
	-fx-border-color: #107801;
	
	-fx-text-fill: #242729;
}

*{
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: #242729;
}

.report {
    -fx-border-width: 3px;
}

.progress-bar{
	-fx-border-color: white;
	-fx-border-radius: 0px;
	
	-fx-accent: white;
}
.progress-bar .bar{
	-fx-background-color: white;
	-fx-background-radius: 0.0px;
}