/* Text Areas and Text Fields style*/
.text-area, .text-field{
	-fx-border-color: darkgreen;
	-fx-border-width: 3px;
}
.text-area:hover, .text-field:hover{
	-fx-border-color: green;
}

.titled-pane{
	-fx-box-border: transparent;
}

/* The basic Button */
.button{
	-fx-border-color: #107801;
	-fx-text-fill: #107801;
}

.button:hover{
	-fx-background-color: #107801;
	
	-fx-border-color: #107801;
	
	-fx-text-fill: #242729;
}

/* A Button who is dangerous */
.dangerousButton{
	-fx-border-color: darkred;
	-fx-text-fill: darkred;
}
.dangerousButton:hover{
	-fx-background-color: darkred;
	-fx-border-color: darkred;
	-fx-text-fill: #242729;
}

/* Something important (just in bold) */
.important{
	-fx-font-weight: bold;
}

.titled-pane{
	-fx-border-color: #242729;
}

/* Everyting else... */
*{
	-fx-background-color: #242729;
	-fx-text-fill: white;
}