/*
 * This file defines styles for both HBox and VBox.
 * Those are still overridable, but it is not recommended.
 */
HBox *, VBox *{
	-fx-background-color: transparent;
}

HBox.selection-box > *:hover, VBox.selection-box > *:hover{
	-fx-background-color: #252525;
}

VBox.sidebar{
	-fx-background-color: rgb(0, 100, 0);
}
VBox.sidebar *{
	-fx-background-color: rgb(0, 95, 0);
}