/*
 * This file defines all the styles relative to each buttons in the windows.
 * Those styles are still overridable.
 * 
 * NOTE: As JavaFX does not support all css styles, to make your buttons looks like mine, you should :
 *   - Uppercase the text content (there isn't any property to do it acutally),
 *   - Find a representive icon (to make it look nicer).
 * 
 *  <!> Don't forget to apply those styles to your buttons !!
 */
.button{
	-fx-border-color: transparent;
	-fx-background-color: #00770C;
	-fx-padding: 5px 10px;
	
	-fx-min-width: 70px;
}

.button:hover{
	-fx-background-color: #018E0F;
	-fx-text-fill: lightgray;
	-fx-cursor: hand;
}

.button.danger{
	-fx-background-color: #700;
}

.button.danger:hover{
	-fx-background-color: #960101;
}

.button.as-icon{
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}
.button.as-icon:hover{
	-fx-cursor: hand;
}

VBox.button, HBox.button{
    -fx-background-color: transparent;
}
VBox.button:hover, HBox.button:hover{
    -fx-background-color: #282828;
    -fx-cursor: hand;
}