/*
 * This stylesheet applies to all the Device stuff : displayers, 
 * pop-ups, device view...
*/

.device-build-displayer{
	-fx-background-color: #005B07;
	-fx-border-radius: 3px;
}
.device-build-displayer:hover {
	-fx-background-color: #018E0F;
	-fx-cursor: hand;
}