/*
 * Main css file to applies to ALL elements.
 */
* {
	-fx-background-color: rgb(30, 30, 30);
	-fx-text-fill: rgba(255, 255, 255, 0.9);
}

.transparent{
	-fx-background-color: transparent;
}

.hover-traversable:hover > *{
	-fx-background-color: #333; 
	-fx-cursor: hand;
}

*.selectable{
	-fx-opacity: 0.8;
}
*.selectable:hover{
	-fx-cursor: hand;
}
*.selectable:focused{
	-fx-opacity: 0.95;
	-fx-cursor: default;
}