ScrollPane .thumb {
    -fx-background-color: lightgray;
    -fx-background-radius: 1px;
}
ScrollPane:vertical .thumb{
	-fx-max-width: 3px;
}
ScrollPane:horizontal .thumb{
	-fx-max-height: 3px;
}

ScrollPane .thumb:hover, ScrollPane .thumb:hover {
    -fx-background-color: white;
    -fx-background-radius: 1px;
}

ScrollPane > .corner {
    -fx-background-color: #222;
}