ScrollPane:horizontal, ScrollPane:vertical{
    -fx-background-color: #242729;
}
ScrollPane:horizontal .thumb,
ScrollPane:vertical .thumb {
    -fx-background-color: lightgray;
    -fx-background-radius: 1px;
}
ScrollPane:vertical .thumb{
	-fx-max-width: 3px;
}
ScrollPane:horizontal .thumb{
	-fx-max-height: 3px;
}

ScrollPane:horizontal .thumb:hover, ScrollPane:vertical .thumb:hover {
    -fx-background-color: white;
    -fx-background-radius: 1px;
}

ScrollPane > .corner {
    -fx-background-color: #242729;
}