.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-border-color: #242729;
    -fx-border-width: 2px;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-radius: 1px;
}
.tab-pane .tab
{
    -fx-background-color: #242729;

}

.tab-pane .tab:selected
{
    -fx-background-color: #242729;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: gray;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}