/*
    The box stylesheet defines styles for VBoxes and HBoxes.
*/

VBox, HBox{
    -fx-background-color: transparent;
}

VBox * {
    -fx-background-color: transparent;
}

.colored{
    -fx-background-color: -cta-dark;
    -fx-background-radius: 3px;
}
.colored:hover{
    -fx-text-fill: white;
    -fx-background-color: -cta;
}