/*
    These styles defines basic styling for all components and 
    imports all others stylesheets.
*/
@import "./Box.css";
@import "./Layout.css";
@import "./ScrollPane.css";
@import "./Text.css";
@import "./Button.css";
@import "./Stage.css";
@import "./TextField.css";
@import "./TitledPane.css";

/*
    The box content of the stage. 
    The content is everything except the top 
    bar and the glass pane used for the shadow.
*/
.contentBox {
    -fx-background-image: url("../images/background.png");
    -fx-background-position: 5px 10px;
}

* {
    -default-text-color: #d3d4d3;
    -background: #222222;
    -cta-dark: #0A690A;
    -cta: #0A8F0A;
    -cta-light: #0AC80A;
    -cta-reversed: #C80A0A;
    -error: #CD2020;
    -warning: #D66700;
    -info: #1885D9;
}