/*
    These styles defines basic styling for all components and 
    imports all others stylesheets.
*/

@import "./Layout.css";
@import "./Text.css";
@import "./Button.css";
@import "./Stage.css";

/*
    The box content of the stage. 
    The content is everything except the top 
    bar and the glass pane used for the shadow.
*/
.contentBox {
    -fx-background-image: url("../images/background.png");
    -fx-padding: 10px;
    -fx-background-position: 5px 10px;
}