.scroll-pane.list {
	-fx-background-radius: 0;
	-fx-padding: 5px;

	-fx-hbar-policy: never;
	-fx-vbar-policy: always;
	-fx-fit-to-height: false;
	-fx-fit-to-width: true;
}
/* 
    Selects the scroll pane itself and the content child only ('>' is the direct child selector)
    it doesn't look for nested nodes.
*/
.scroll-pane.list,
.scroll-pane.list > * {
	-fx-background-color: transparent;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow {
	-fx-background-color: -default-text-color;
}
.scroll-pane .increment-button:hover,
.scroll-pane .decrement-button:hover {
	-fx-background-color: transparent;
}

.scroll-pane .thumb {
	-fx-background-color: -default-text-color;
	-fx-background-radius: 1px;
}
.scroll-pane .thumb:hover {
	-fx-background-color: #fff;
}


.scroll-pane.grid,
.scroll-pane.grid > *{
	-fx-background-color: transparent;
	-fx-padding: 0;
}