/*
    This stylesheet is all about text : in labels, buttons, in general in the app.

    You may want to add some style classes:
     - .logo : for the logo PRODUCTS. only
     - .h1 to .h6 : differents headers (h1 the biggest, h6 the smallest)
     - .info : sweet blue text
     - .warning : orange text
     - .error : alarming red text
     - .help : little text (used for indications)
*/

Label, Button, Text {
    /* Segoe UI is the default Java FX font, but I set it anyway */
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: -default-text-color;
}

/* The logo of the game is made of text */
.logo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

/*
    Like HTML, h1 to h6.
*/
.h1{
    -fx-font-size: 40px;
    -fx-margin: 10px 0 30px 0;
}
.h2{
    -fx-font-size: 32px;
    -fx-margin: 10px 0 25px 0;
}
.h3{
    -fx-font-size: 28px;
    -fx-margin: 8px 0 20px;
}
.h4{
    -fx-font-size: 23px;
    -fx-margin: 5px 0 15px;
}
.h5{
    -fx-font-size: 20px;
    -fx-margin: 3px 0 10px 0;
}
.h6{
    -fx-font-size: 16px;
    -fx-text-fill: #ddd;
    -fx-margin: 3px 0 3px 0;
}
.full-white{
    -fx-text-fill: #fff;
}
.italic{
    -fx-font-style: italic;
}
.bold{
    -fx-font-weight: bold;
}
.thin{
    -fx-font-weight: 200;
}
.error{
    -fx-text-fill: -error;
}
.warning {
    -fx-text-fill: -warning;
}
.precision{
    -fx-text-fill: -cta;
}
.precision-light{
    -fx-text-fill: -cta-light;
}
.colored .precision,
.colored .precision-light{
    -fx-text-fill: white;
}
.help{
    -fx-font-size: 11px;
}