/*
 * This style file applies to all labels elements in each scene.
 */
.labeled{
	-fx-text-fill: #eee;
	-fx-border-color: white;
	-fx-border-width: 0.0px;
}
Label{
	-fx-background-color: transparent;
}

Label.h1{
	-fx-font-size: 60.0;
}
Label.h2{
	-fx-font-size: 35.0;
}
Label.h3{
	-fx-font-size: 28.0;
}
Label.h4{
	-fx-font-size: 22.0;
}
Label.h5{
	-fx-font-size: 19.0;
}
Label.h6{
	-fx-font-size: 16.0;
}
Label.text{
	-fx-font-size: 12.0;
}
Label.bold{
	-fx-font-weight: bold;
}

Label.toast{
	-fx-max-width: 150.0px;
	-fx-min-height: 30px;
	
	-fx-padding: 5px;
	
	-fx-font-size: 13.0;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-wrap-text: true;
	-fx-alignment: top-left;
	
	-fx-opacity: 0.9;
	
	-fx-background-color: darkgreen;
	-fx-background-radius: 2.0px;
}