/**
 * This styles applies only to ScrollPane and its children.
 */
ScrollPane {
	-fx-background-color: transparent;
}

ScrollPane .thumb {
    -fx-background-color: lightgray;
    -fx-background-radius: 1px;
}

ScrollPane:vertical .thumb{
	-fx-max-width: 3px;
}
ScrollPane:horizontal .thumb{
	-fx-max-height: 3px;
}

ScrollPane .thumb:hover {
    -fx-background-color: #eee;
    -fx-background-radius: 1px;
}

ScrollPane > .corner {
    -fx-background-color: transparent;
}