/*
 * This file defines all the style relative to TitledPane.
 * Those styles are still overridable.
 */

TitledPane{
	-fx-background-color: transparent;
}

TitledPane > *.content {
    -fx-border-color: transparent;
}

TitledPane.hidden-arrow .arrow-button{
	-fx-opacity: 100;
	-fx-background-color: white;
}