$cta-color: rgb(0, 110, 10);
$cta-hover-color: rgb(0, 130, 15);
$text-color: #eee;

body{
    background: url(../images/Floor.svg);
    background-color: #333;
    background-blend-mode: multiply;
    background-position: -46px -23px;
    background-size: 96px;

    text-align: center;

    padding-top: 5em;
}

.about__text{
    max-width: 100ch;
    margin: auto;
}

.download-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 2% 0;
}

a.button{
    display: block;
    width: 90%;
    max-width: 350px;
    color: #eee;
    border: 3px solid white;

    padding: 1% 4%;
    margin: 1.5% 0;
    font-weight: 500;
}

a.button:hover{
    background: #eee;
    color: #333;
}