$cta-color: rgba(0, 255, 25, 0.4);
$cta-hover-color: rgba(0, 255, 25, 0.3);
$cta-border-color: rgba(0, 150, 18, 0.8);
$text-color: #eee;

html {
	scroll-behavior: smooth;
}

body {
	background-image: url(../images/Background.png);
	font-family: "Segoe UI", sans-serif;

	text-align: center;
}

main{
	min-height: 85vh;
	padding-top: 10vh;
}

section{
	padding: 3vh 2%;
}

img{
	margin: 2%;
} 

p {
	text-align: justify-all;
	
	margin: 0 3%;

	&.warning{
		color: rgb(255, 200, 50);
	}

	&.precision{
		font-size: 80%;
	}
}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	padding: 0.5% 2%;
}

div.divider-horizontal {
	min-height: 1px;
	width: 100%;

	background-color: $text-color;
}

a.button {
	margin: 2%;
	padding: 1% 4%;

	width: 35%;

	color: #eee;
	background: $cta-color;
	border: solid 2px $cta-border-color;
	font-weight: 500;

	&:hover{
		background: $cta-hover-color;
	}
}
	

@media screen and (max-width: 600px) {
	a.button {
		width: 100%;
	}
}