.game{
    -fx-background-color: transparent;
}

.main{
    -fx-background-color: transparent;
}

.toolbar{
    -fx-background-color: rgba(0, 0, 0, .8);
}
.menu{
    -fx-background-color: rgba(0, 0, 0, .4);
}