.text-field{
	-fx-border-color: darkgreen;
	-fx-border-width: 3px;
}
.text-field:hover{
	-fx-border-color: green;
}
.button{
	-fx-border-color: #107801;
	-fx-text-fill: #107801;
}

.button:hover{
	-fx-background-color: #107801;
	
	-fx-border-color: #107801;
	
	-fx-text-fill: #242729;
}
.dangerousButton{
	-fx-border-color: darkred;
	-fx-text-fill: darkred;
}
.dangerousButton:hover{
	-fx-background-color: darkred;
	-fx-border-color: darkred;
	-fx-text-fill: #242729;
}
*{
	-fx-font-weight: bold;
	-fx-background-color: #242729;
	-fx-text-fill: white;
}