.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #242729;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: lightgray;
    -fx-background-radius: 1px;
}
.scroll-bar:vertical .thumb{
	-fx-max-width: 3px;
}
.scroll-bar:horizontal .thumb{
	-fx-max-height: 3px;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
    -fx-background-color: white;
    -fx-background-radius: 1px;
}

.scroll-pane > .corner {
    -fx-background-color: #242729;
}